<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
 <h2 >Recipes Blogg</h2>
 <tr>
 <div align = "left" >    
      <h3><a  th:href="@{'/new'}">Add new</a></h3>     
     </div>
 
 </tr>
 <tr>
 
 <div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Recipe ID</th>
            <th>Recipe Name</th>
            <th>Time in Minutes</th>
            <th>Recipe Type</th>
           
   </tr>
  </thead>
  <tbody>
      <tr  th:each="recipe : ${listrecipe}">
 <td th:text="${recipe.id}">Recipe ID</td>
 <td th:text="${recipe.name}">Name</td>
 <td th:text="${recipe.time}">Time</td>
 <td th:text="${recipe.type}">Type</td> 
 <td>
 <a th:href="@{'/edit/' + ${recipe.id}}">Edit</a>
 </td>     
 <td>
 <a th:href="@{'/delete/' + ${recipe.id}}">Delete</a>
 </td>     
 </tr> 
   
  </tbody>
</table>
                    
 </div>
 
 </div> 
 
 </tr>
 
 </tbody>
 </table>
 <div>
</body>
</html>